[Unit]
Description=HyperStreamDB Search Node
After=network.target

[Service]
Type=simple
# Load the configuration file
EnvironmentFile=/etc/hyperstreamdb/hyperstream-search.conf

# Execute the binary
ExecStart=/usr/local/bin/hyperstream-search
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
